* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(248, 248, 248);
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

.fa,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container-xl {
  max-width: 1280px;
  margin: 0 auto;
}
.container {
  max-width: 1280px;
  max-width: 85%;
  margin: 0 auto;
}
