/* Common Css */
body {
  font-family: "Inter", sans-serif;
}
/* Header */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  margin-bottom: 2.6rem;
}
.left-side__top {
}
.right-side-burger__top {
}
.right-side-burger__top .fa {
  font-size: 30px;
  color: #999999;
}
.right-side-nav__top {
  display: none;
}
.other-a {
}
/* Hero */
.hero {
  margin-left: 32px;
  /* position: relative; */
  margin-bottom: 80px;
}
.content__hero {
  /* position: absolute; */
  margin-top: 80px;
  max-width: 274px;
}
.subtitle__content__hero {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff3998;
}
.title__content__hero {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 24px;
}
.text__content__hero {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}
.btn__content__hero {
  border-radius: 50px;
  padding: 18px 52px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: 4px solid #ff3998;
}
.graphic__hero {
  right: -188px;
  position: absolute;
  background-image: url(../imgs/assets/graphic.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  top: 70px;
}
/* Section Free NFT */
.free-nft {
  background: rgb(119, 5, 64);
  background: linear-gradient(
    99deg,
    rgb(255 43 112 / 69%) 0%,
    rgb(253 172 23 / 74%) 90%,
    rgb(156 177 108) 100%
  );
  height: 326px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.title__free-nft {
  font-weight: 600;
  font-size: 40px;
  line-height: 48.41px;
  color: #111111;
  flex-basis: 99%;
}
.text__free-nft {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #111111;
  flex-basis: 99%;
}
.my {
  margin-left: 32px;
  margin-right: 32px;
  /* padding: 0 32px; */
}
/* Sponsers */
/* Cards */
/* Launching Soon */
/* Footer */
