/* Common Css */
body {
  font-family: "Inter", sans-serif;
}
/* Header */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  margin-bottom: 2.6rem;
}
.left-side__top {
}
.right-side-burger__top {
}
.right-side-burger__top .fa {
  font-size: 30px;
  color: #999999;
}
.right-side-nav__top {
  display: none;
}
.other-a {
}
/* Hero */
.hero {
  margin-left: 32px;
  /* position: relative; */
  margin-bottom: 80px;
}
.content__hero {
  /* position: absolute; */
  margin-top: 80px;
  max-width: 274px;
}
.subtitle__content__hero {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff3998;
}
.title__content__hero {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 24px;
}
.text__content__hero {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}
.btn__content__hero {
  border-radius: 50px;
  padding: 18px 52px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: 4px solid #ff3998;
}
.graphic__hero {
  right: -200px;
  position: absolute;
  background-image: url(../imgs/assets/graphic.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  top: 70px;
}
/* Free NFT */
.free-nft {
  background-image: url(../imgs/assets/background.svg);
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: cover;
  padding-top: 90px;
}
.title__free-nft {
  font-weight: 600;
  font-size: 40px;
  line-height: 48.41px;
  color: #111111;
  margin-bottom: 16px;
}
.text__free-nft {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #111111;
}
.padding__free-nft {
  padding: 32px 0;
}
/* Companies */
.companies {
  margin-top: 64px;
  margin-bottom: 56px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  grid-template-areas:
    "c1 c2"
    "c3 c4";
}
.company1 {
  grid-area: c1;
  align-self: center;
}
.company2 {
  grid-area: c2;
}
.company3 {
  grid-area: c3;
}
.company4 {
  grid-area: c4;
}

/* Cards */
/* Launching Soon */
/* Footer */
