/* Common Css */
body {
  font-family: "Inter", sans-serif;
  margin-bottom: 1000px;
}
/* Header */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  margin-bottom: 2.6rem;
}
.right-side-burger__top .fa {
  font-size: 30px;
  color: #999999;
}
.right-side-nav__top {
  display: none;
}
/* Hero */
.hero {
  margin-bottom: 80px;
  margin-left: 32px;
}
.content__hero {
  padding-top: 80px;
  background-image: url(../imgs/assets/graphic.svg);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 200px 5px;
}
.subtitle__content__hero {
  max-width: 274px;
}
.subtitle {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: 700;
  letter-spacing: 10%;
  text-transform: uppercase;
  color: #ff3998;
}
.title__content__hero {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 24px;
  max-width: 274px;
}
.text__content__hero {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  max-width: 274px;
}
.btn {
  border-radius: 50px;
  padding: 18px 52px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border: 4px solid #ff3998;
}
/* Free NFT */
.free-nft {
  background-image: url(../imgs/assets/background.svg);
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: cover;
  padding-top: 90px;
  width: 101%;
}
.title__free-nft {
  font-weight: 600;
  font-size: 40px;
  line-height: 48.41px;
  color: #111111;
  margin-bottom: 16px;
}
.text__free-nft {
  width: 364px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #111111;
}
.padding__free-nft {
  padding: 32px 0;
}
/* Companies */
.companies {
  margin-top: 54px;
  margin-bottom: 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.company {
  background-repeat: no-repeat;
  width: 160px;
  height: 50px;
  margin: 10px;
}
.company1 {
  background-image: url(../imgs/assets/companies/1.svg);
  background-position: left;
  width: 137px;
  height: 40px;
  margin: 0;
  margin-top: 16px;
}

.company2 {
  background-image: url(../imgs/assets/companies/2.svg);
}
.company3 {
  background-image: url(../imgs/assets/companies/3.svg);
}
.company4 {
  background-image: url(../imgs/assets/companies/5.svg);
}
.company5 {
  background-image: url(../imgs/assets/companies/4.svg);
  display: none;
}
/* Cards */
.cards-section {
  margin-left: 32px;
  margin-bottom: 92px;
}
.title__cards {
  margin-right: 35px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48.41px;
  color: #111111;
  margin-bottom: 16px;
}
.text__cards {
  margin-right: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 40px;
}
.text__cards a {
  text-decoration: underline;
}
.cards {
  display: flex;
  gap: 40px;
  width: 1280px;
}
.card {
  width: 290px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: top;
}
.card1 {
  background-image: url(../imgs/assets/ntfs/ntf-1.svg);
}
.card2 {
  background-image: url(../imgs/assets/ntfs/nft-2.svg);
}
.card3 {
  background-image: url(../imgs/assets/ntfs/ntf-3.svg);
}
.card4 {
  background-image: url(../imgs/assets/ntfs/ntf-4.svg);
}
.img__card img {
  height: fit-content;
}
.info__card {
  background-color: #ebebeb;
  padding: 24px;
  bottom: 0;
}
.nft__info__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.gloop-left {
  color: #ff8139;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
}
.bid-right {
  color: #777777;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
}
.name-price__info__card {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.name-left {
  color: #111111;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
.how-much-right {
  gap: 8px;
  display: flex;
}
.price {
  color: #111111;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}
.number-time__info__card {
  display: flex;
  justify-content: space-between;
}
.number-left {
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.time-right {
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
/* Upsell */
.content__upsell {
  position: relative;
  padding-bottom: 66px;
  margin-left: 32px;
  margin-top: 28px;
  background-image: url(../imgs/assets/upsell-footer-image.svg);
  background-repeat: no-repeat;
  background-position: 223px 169px;
}
.subtitle__content__upsell {
  padding-top: 64px;
}
.border {
  border-bottom: 2px solid #eeeeee;
  width: 120%;
}
.border-b {
  position: absolute;
  border-bottom: 2px solid #11111114;
  left: -32px;
  width: 120%;
}
.title__content__upsell {
  font-weight: 900;
  font-size: 56px;
  line-height: 67.77px;
  margin-bottom: 24px;
  max-width: 274px;
}
.text__content__upsell {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  margin-bottom: 24px;
  max-width: 207px;
}
.upsell-dis-text {
  display: none;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
}
.logo-img {
  margin-top: 64px;
  margin-bottom: 30px;
}
.text__footer {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
  margin-bottom: 32px;
}
.icons {
  margin-bottom: 64px;
}
.icons .fab {
  font-size: 18px;
  color: #999999;
  margin-right: 16px;
}
.nav__footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 10%;
  margin-bottom: 28px;
}
.nav__footer a {
  display: block;
}
.my-a {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mb {
  margin-bottom: 16px;
}
.nav__footer {
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-areas:
    "about nft"
    "contact social";
}
.about {
  grid-area: about;
  margin-bottom: 40px;
}
.nft {
  grid-area: nft;
  margin-bottom: 40px;
}
.contact {
  grid-area: contact;
  margin-bottom: 40px;
}
.social {
  grid-area: social;
  margin-bottom: 40px;
}
.copy {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
}
.launching-date {
  display: none;
}
